body{
	background-color:black;
    font-family: "portalportal";
    text-align: center;
    color: #636468;
    margin: 0;
    overflow: hidden;
}

#videos{
    margin: auto;
    
}

header{
    position: absolute;
    left: -342px;
    top: -100px;
    font-size: 40px;
    background-image: url(../assets/images/navigation_bg.png);
    background-repeat: no-repeat;
    background-size:750px;
    height: 147px;
    width: 750px;
}

.landscape header{
    left:50%;
    margin-left:-325px;
    top:inherit;
}

header .textHeader{
    position: absolute;
    width: calc(100% * 2/3);
    height: 100%;
    top:40px;
    right: calc(100% / 3);
    text-align: right;
}

header .firstLine{
	text-transform: uppercase;
}

header .secondLine{
	font-size: 20px;
}

header .portalImg{
    position: absolute;
    right: calc(100% / 3 - 60px);
    top: 40px;
}


#container{
    position: absolute;
    left: 137px;
    height: 99%;
    width: calc(100% - 60px - 137px);

}

footer{
	background-image: url(../assets/images/showcase_bg.png);
    background-repeat: no-repeat;
    background-size: 750px;
    position: absolute;
    bottom: -100px;
    right: -345px;
    width: 750px;
    font-size: 14px;
    line-height: 60px;
    height: 60px;
}

.landscape footer{
    right: inherit;
    left: 50%;
    margin-left: -325px;
    bottom: 0;
}

canvas{
    
	/*transform:rotate(90deg);
	-webkit-transform:rotate(90deg); */
	position: absolute;
	
}

.landscape canvas{
    /*-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);*/
}


#canvasFireLocalVideo{
    /*background-color: white;*/
    /*
   	-webkit-animation-name: spin;
    -webkit-animation-duration: 16000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

 	animation-name: spin;
    animation-duration: 16000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
}

@-webkit-keyframes spin 
{
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin 
{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}