body{
	background-color:black;
    font-family: "portalportal";
    text-align: center;
    color: #636468;
    margin: 0;
}

#videos{
    margin: auto;
    
}

header{
    position: absolute;
    left: 0;
    margin-left: -461px;    
    top: -40px;
    font-size: 40px;
    background-image: url(../assets/images/navigation_bg.png);
    background-repeat: no-repeat;
    height: 147px;
    width: 530px;
    padding-left: 27px;
    padding-right: 400px;
    padding-top: 60px;
    text-align: right;
}

header .firstLine{
	text-transform: uppercase;
}

header .secondLine{
	font-size: 20px;
}

header .portalImg{
    position: absolute;
    right: 335px;
    top: 50px;
}


#container{
    position: absolute;
    top:137px;
    height: calc(100% - 60px - 137px);
    width: 99%;

}

footer{
	background-image: url(../assets/images/showcase_bg.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: -461px;	
    width: 923px;
    font-size: 14px;
    line-height: 60px;
    height: 60px;
}

canvas{
    
	/*transform:rotate(90deg);
	-webkit-transform:rotate(90deg); */
	position: absolute;
	
}


#canvasFireLocalVideo{
    /*background-color: white;*/
    /*
   	-webkit-animation-name: spin;
    -webkit-animation-duration: 16000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

 	animation-name: spin;
    animation-duration: 16000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
}

@-webkit-keyframes spin 
{
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin 
{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}